In [1]:
import pandas as pd

#budget.csv degan faylni data frame da saqlab va ochib olamiz

#ushbu tablemizda 47 ta qator va 33ta ustun mavjud

#har bir qator million dollarda ifodalangan, yilni ifodalovchi qatordan tashqari. 2017 yildan boshlab berilgan barcha ma'lumotlar baholangan malumotlardir. 33 ustun nomlarini aytamiz(indeks ustunga kirmaydi, agar kirsa 34chi ustun bo'ladi): 1) Yil 2) Muhandislar korpusi, 3) Qishloq xo'jaligi departamenti, 4) Savdo vazirligi, 5) Mudofaa vazirligi, 6) Ta'lim boshqarmasi, 7) Energetika vazirligi, 8) Sog'liqni saqlash va aholiga xizmat ko'rsatish departamenti, 9) Ichki xavfsizlik departamenti, 10) Uy-joy va shaharsozlik departamenti, 11) Adliya departamenti, 12) Mehnat departamenti, 13) Davlat departamenti, 14) Ichki ishlar vazirligi, 15) G‘aznachilik departamenti,         16) Transport departamenti, 17) Faxriylar ishlari departamenti, 18) Atrof-muhitni muhofaza qilish agentligi,        19) Prezident departamenti, 20) Umumiy xizmatlar departamenti, 21) Xalqaro yordam dasturlari, 22) Sud tizimi,        23) Huquqshunoslik departamenti, 24) Koinot departamenti, 25) Milliy fan fondi, 26) Xodimlarni boshqarish ofisi, 27) Mudofaaning boshqa fuqarolik dasturlari, 28) Boshqa mustaqil agentliklar (byudjetdan ta'minotida), 29) Boshqa mustaqil agentliklar (byudjetdan tashqari), 30) Kichik biznes ma'muriyati, 31) Ijtimoiy Xavfsizlik ma'muriyati (byudjetdan tashqari), 32) Ijtimoiy Xavfsizlik ma'muriyati (byudjet bo'yicha), 33) Taqsimlanmagan hisob-kitob tushumlari.

In [2]:
df = pd.read_csv("budget.csv")
df

,Year,Corps of Engineers,Department of Agriculture,Department of Commerce,Department of Defense,Department of Education,Department of Energy,Department of Health and Human Services,Department of Homeland Security,Department of Housing and Urban Development,...,National Aeronautics and Space Administration,National Science Foundation,Office of Personnel Management,Other Defense Civil Programs,Other Independent Agencies (Off-Budget),Other Independent Agencies (On-Budget),Small Business Administration,Social Security Administration (Off-Budget),Social Security Administration (On-Budget),Undistributed Offsetting Receipts
0,1976,2177,20690,1732,95503,9314,4970,40368,2423,29200,...,3552,717,8870,7390,NaN,17692,621,74019,6044,-22186
1,1977,2479,21841,7814,107906,10568,7021,47035,2881,33818,...,3876,783,10255,8273,NaN,8692,1068,84909,6612,-23018
2,1978,2781,26659,1892,114531,11625,10467,51891,3314,37994,...,4244,868,11631,9213,NaN,8981,3555,93712,5991,-24250
3,1979,2780,37250,2086,123595,13996,9805,59726,3969,31142,...,4743,914,13314,10319,NaN,10957,2081,104233,6266,-27428
4,1980,3247,39559,2610,140651,15209,10767,70002,4424,35852,...,5350,991,15711,12020,NaN,28922,2145,119278,7144,-31988
5,1981,3089,47410,2072,176100,16752,11241,80788,3971,34220,...,5634,1031,18595,13898,NaN,17122,1355,140404,7899,-41852
6,1982,2988,57400,1834,211486,15374,12485,86307,4563,20911,...,6200,1006,20810,15043,NaN,11647,748,156238,8613,-42165
7,1983,3406,69831,1923,238834,15267,11892,91478,4981,16561,...,7065,1104,22302,16218,200.0,9183,1278,150984,30451,-51078
8,1984,2674,46734,2015,258108,15336,10952,103715,5231,18148,...,7458,1323,23530,16587,919.0,10100,971,171710,17831,-52329
9,1985,2883,61823,2309,286789,18952,12617,113981,5056,31398,...,7573,1502,24616,17270,1430.0,10091,1254,184648,19968,-58656
10,1986,2722,59154,1980,281398,17750,10558,123589,5139,15928,...,7807,1458,26294,17519,1788.0,11495,714,191782,15931,-65036
11,1987,3121,52421,2155,279417,19475,10124,133443,5927,14657,...,10923,1623,27299,18034,2294.0,12993,604,203461,16412,-72262
12,1988,3226,55134,2449,283710,20098,11162,142396,6152,14949,...,9061,1717,30164,19121,941.0,20873,418,216285,18330,-78789
13,1989,3215,55627,2807,290785,22819,11696,155160,7110,14347,...,10969,1922,32163,20354,1610.0,61160,421,228432,18628,-89074
14,1990,3165,55214,3683,292936,24549,13983,184673,7292,17315,...,12324,2084,35224,21802,3083.0,56032,928,246875,17425,-98930
15,1991,3281,59957,2648,275676,27360,16102,201473,6574,27634,...,14016,2316,36782,23399,3301.0,83643,464,268531,20576,-110005
16,1992,3667,66170,3022,281827,28685,17197,251439,11158,24966,...,14317,2573,35765,24795,2198.0,50221,1891,283365,23986,-117111
17,1993,3852,67730,3159,267334,31324,17712,257702,9091,26468,...,14310,2734,39345,26079,2239.0,16415,1177,300089,28081,-119711
18,1994,3925,65458,3811,251294,26881,17159,307700,12476,26322,...,14570,3018,40380,27050,2732.0,32061,2058,315450,32376,-123469
19,1995,3344,58437,4025,255658,32245,15019,301969,11442,19800,...,13854,3227,42923,28072,2554.0,14324,792,327808,32551,-137632
20,1996,3336,58592,3612,254525,29097,14128,318434,11667,20821,...,13886,3219,43814,29094,3441.0,12500,1089,346315,30349,-134997
21,1997,4157,60727,3758,257943,33519,14073,353652,13189,16091,...,13711,3271,44847,30346,3725.0,12726,838,359155,34413,-154969
22,1998,4145,58134,4100,258250,35298,14371,359307,11243,20976,...,13637,3431,47352,31321,6359.0,18130,243,371321,36022,-161034
23,1999,3797,67560,5431,278402,33643,16353,364973,13042,26303,...,13627,3702,48710,32079,5607.0,12901,342,380267,39797,-159036
24,2000,4028,75162,8733,290307,31816,15291,392122,13840,24277,...,13588,3961,50463,32924,3712.0,14917,100,398770,45112,-173019
25,2001,4619,73082,5167,318651,39734,17666,434443,16400,32296,...,14254,4519,53144,34339,4064.0,14595,-68,428670,43259,-191125
26,2002,4730,71209,5545,344878,55838,18447,478236,30570,34481,...,14868,4884,55306,35383,3071.0,18724,604,447951,43913,-200706
27,2003,4771,78750,5800,439339,63001,20552,515464,30844,34371,...,15449,5384,57316,39941,5386.0,14486,1625,463279,46157,-210449
28,2004,4554,93037,5877,471796,67161,21988,556305,31650,35077,...,15342,5589,59932,41846,2057.0,15241,4222,481699,49939,-212526
29,2005,5494,95023,6476,483846,74476,21093,591392,100689,35029,...,16187,5565,63076,43716,1005.0,16695,3345,515130,54777,-226213
30,2006,11944,97339,6638,532926,100019,21085,684554,32285,52405,...,16570,5690,66756,44672,3693.0,16285,1755,536159,53360,-237548
31,2007,7046,91821,7766,602984,68265,21686,658365,39702,35364,...,16275,6028,61633,47187,8899.0,15517,528,569627,56663,-260206
32,2008,9093,92950,9585,674694,65399,22739,721693,50624,50930,...,17209,6197,65951,45430,9677.0,31701,1317,601826,58500,-277791
33,2009,16587,127826,25713,667557,131891,68557,851721,46001,61810,...,18777,9579,74439,57482,6578.0,49837,2564,654799,78406,-274193
34,2010,5665,130983,13679,695646,62911,23026,889608,45423,45075,...,18719,6963,72434,54786,4700.0,17855,6472,683908,70198,-267886
35,2011,4854,140677,5704,691471,43628,22648,889186,41648,48528,...,18432,6910,79435,51073,996.0,19760,5454,629821,154714,-276478
36,2012,6763,151789,7978,655397,57458,22721,874458,45911,40115,...,17773,7159,83630,81067,2255.0,23324,2724,637241,188759,-230682
37,2013,9716,154924,7959,585239,39495,21221,873330,61873,68969,...,16868,6997,86973,57553,NaN,25258,952,760588,109001,-249450
38,2014,5612,157510,10113,595723,55200,22174,960955,44146,42676,...,17644,7296,89745,57514,-3.0,26409,139,828419,83745,-246158
39,2015,5477,142471,13817,570861,87258,25393,1045165,45269,44115,...,18009,7485,92356,62584,NaN,29533,-734,861067,89340,-257594
40,2016,6042,168801,10351,595715,76977,27335,1118986,46021,48843,...,19280,7597,93745,60139,264.0,27821,-512,887610,95342,-241362
41,2017,6907,139269,9490,626229,114800,28013,1126687,51026,51544,...,19309,7546,95659,57572,264.0,29529,317,917670,93010,-243336
42,2018,4906,132267,8029,646977,60971,20067,1112443,49386,39715,...,19078,6758,99481,61060,249.0,28492,826,974849,91289,-247944
43,2019,4908,129792,10150,594543,65952,22728,1212309,50886,39739,...,19078,6752,103909,63533,249.0,28353,831,1035504,104031,-234803
44,2020,4792,129518,13568,607132,63758,25327,1289034,51982,39771,...,19078,6754,107323,64809,249.0,29479,831,1099003,109706,-238504
45,2021,4915,127657,8156,619906,63818,24882,1351437,53303,39793,...,19078,6756,110605,66753,249.0,31195,831,1162456,115861,-240521
46,2022,4918,126499,7744,632617,62320,24975,1457442,53702,39817,...,19078,6757,113839,69149,249.0,32903,831,1232366,126744,-243515

In [3]:
df.head()

,Year,Corps of Engineers,Department of Agriculture,Department of Commerce,Department of Defense,Department of Education,Department of Energy,Department of Health and Human Services,Department of Homeland Security,Department of Housing and Urban Development,...,National Aeronautics and Space Administration,National Science Foundation,Office of Personnel Management,Other Defense Civil Programs,Other Independent Agencies (Off-Budget),Other Independent Agencies (On-Budget),Small Business Administration,Social Security Administration (Off-Budget),Social Security Administration (On-Budget),Undistributed Offsetting Receipts
0,1976,2177,20690,1732,95503,9314,4970,40368,2423,29200,...,3552,717,8870,7390,NaN,17692,621,74019,6044,-22186
1,1977,2479,21841,7814,107906,10568,7021,47035,2881,33818,...,3876,783,10255,8273,NaN,8692,1068,84909,6612,-23018
2,1978,2781,26659,1892,114531,11625,10467,51891,3314,37994,...,4244,868,11631,9213,NaN,8981,3555,93712,5991,-24250
3,1979,2780,37250,2086,123595,13996,9805,59726,3969,31142,...,4743,914,13314,10319,NaN,10957,2081,104233,6266,-27428
4,1980,3247,39559,2610,140651,15209,10767,70002,4424,35852,...,5350,991,15711,12020,NaN,28922,2145,119278,7144,-31988

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 33 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Year                                           47 non-null     int64
 1   Corps of Engineers                             47 non-null     int64
 2   Department of Agriculture                      47 non-null     int64
 3   Department of Commerce                         47 non-null     int64
 4   Department of Defense                          47 non-null     int64
 5   Department of Education                        47 non-null     int64
 6   Department of Energy                           47 non-null     int64
 7   Department of Health and Human Services        47 non-null     int64
 8   Department of Homeland Security                47 non-null     int64
 9   Department of Housing and Urban Development    47 non-null     int64
 10  Department of Justice                          47 non-null     int64
 11  Department of Labor                            47 non-null     int64
 12  Department of State                            47 non-null     int64
 13  Department of the Interior                     47 non-null     int64
 14  Department of the Treasury                     47 non-null     int64
 15  Department of Transportation                   47 non-null     int64
 16  Department of Veterans Affairs                 47 non-null     int64
 17  Environmental Protection Agency                47 non-null     int64
 18  Executive Office of the President              47 non-null     int64
 19  General Services Administration                47 non-null     int64
 20  International Assistance Programs              47 non-null     int64
 21  Judicial Branch                                47 non-null     int64
 22  Legislative Branch                             47 non-null     int64
 23  National Aeronautics and Space Administration  47 non-null     int64
 24  National Science Foundation                    47 non-null     int64
 25  Office of Personnel Management                 47 non-null     int64
 26  Other Defense Civil Programs                   47 non-null     int64
 27  Other Independent Agencies (Off-Budget)        38 non-null     float64
 28  Other Independent Agencies (On-Budget)         47 non-null     int64
 29  Small Business Administration                  47 non-null     int64
 30  Social Security Administration (Off-Budget)    47 non-null     int64
 31  Social Security Administration (On-Budget)     47 non-null     int64
 32  Undistributed Offsetting Receipts              47 non-null     int64
dtypes: float64(1), int64(32)
memory usage: 12.2 KB

In [5]:
df.select_dtypes(include='float64').columns

Index(['Other Independent Agencies (Off-Budget)'], dtype='object')

#data frame ni ingo qilganimizda 33 ustunning barchasida 47 qator ma'lumot borligini ko'rsatdi. Ustunlarning 32 ta integer 1 ta float. Tekshirganimizda 29chi ustunda - "Other Independent Agencies (Off-Budget)" nomli ustunimiz float ekan. Sababi u ustunda ma'lumotlar mavjud emas ekan.

#hammamiz AQSH qurolli kuchlarga qancha sarflashifa qiziqamiz. Quyida ko'rishimiz mumkun(yillar kesimida)

In [6]:
df[["Year","Department of Defense"]]

    Year  Department of Defense
0   1976                  95503
1   1977                 107906
2   1978                 114531
3   1979                 123595
4   1980                 140651
5   1981                 176100
6   1982                 211486
7   1983                 238834
8   1984                 258108
9   1985                 286789
10  1986                 281398
11  1987                 279417
12  1988                 283710
13  1989                 290785
14  1990                 292936
15  1991                 275676
16  1992                 281827
17  1993                 267334
18  1994                 251294
19  1995                 255658
20  1996                 254525
21  1997                 257943
22  1998                 258250
23  1999                 278402
24  2000                 290307
25  2001                 318651
26  2002                 344878
27  2003                 439339
28  2004                 471796
29  2005                 483846
30  2006                 532926
31  2007                 602984
32  2008                 674694
33  2009                 667557
34  2010                 695646
35  2011                 691471
36  2012                 655397
37  2013                 585239
38  2014                 595723
39  2015                 570861
40  2016                 595715
41  2017                 626229
42  2018                 646977
43  2019                 594543
44  2020                 607132
45  2021                 619906
46  2022                 632617

In [7]:
df[["Year","Department of Defense"]].head()

   Year  Department of Defense
0  1976                  95503
1  1977                 107906
2  1978                 114531
3  1979                 123595
4  1980                 140651

In [8]:
type(df[["Year","Department of Defense"]])

pandas.core.frame.DataFrame

In [9]:
df["Department of Defense"].head()

0     95503
1    107906
2    114531
3    123595
4    140651
Name: Department of Defense, dtype: int64

In [10]:
type(df["Department of Defense"])

pandas.core.series.Series

#Series ni DataFrame dan asosiy farqi bu Series da bitta ustun bilan ishlanadi, DataFrame da esa ko'p ustunlar bo'lishi mumkin, ya'ni ko'p Series lar. Ikkalasida ham indeks mavjud

#Barcha ustunlar ni ko'rish

In [11]:
df.columns

Index(['Year', 'Corps of Engineers', 'Department of Agriculture',
       'Department of Commerce', 'Department of Defense',
       'Department of Education', 'Department of Energy',
       'Department of Health and Human Services',
       'Department of Homeland Security',
       'Department of Housing and Urban Development', 'Department of Justice',
       'Department of Labor', 'Department of State',
       'Department of the Interior', 'Department of the Treasury',
       'Department of Transportation', 'Department of Veterans Affairs',
       'Environmental Protection Agency', 'Executive Office of the President',
       'General Services Administration', 'International Assistance Programs',
       'Judicial Branch', 'Legislative Branch',
       'National Aeronautics and Space Administration',
       'National Science Foundation', 'Office of Personnel Management',
       'Other Defense Civil Programs',
       'Other Independent Agencies (Off-Budget)',
       'Other Independent Agencies (On-Budget)',
       'Small Business Administration',
       'Social Security Administration (Off-Budget)',
       'Social Security Administration (On-Budget)',
       'Undistributed Offsetting Receipts'],
      dtype='object')

In [12]:
col_names = df.columns.tolist()
type(col_names)

list

#47 ta qator va 33 ta ustun. df.info() orqali ko'rishimiz ham mumkin

In [13]:
df.shape

(47, 33)

In [14]:
df.describe()

,Year,Corps of Engineers,Department of Agriculture,Department of Commerce,Department of Defense,Department of Education,Department of Energy,Department of Health and Human Services,Department of Homeland Security,Department of Housing and Urban Development,...,National Aeronautics and Space Administration,National Science Foundation,Office of Personnel Management,Other Defense Civil Programs,Other Independent Agencies (Off-Budget),Other Independent Agencies (On-Budget),Small Business Administration,Social Security Administration (Off-Budget),Social Security Administration (On-Budget),Undistributed Offsetting Receipts
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,4.700000e+01,47.000000,47.000000,...,47.000000,47.000000,47.000000,47.000000,38.000000,47.000000,47.000000,4.700000e+01,47.000000,47.000000
mean,1999.000000,4804.212766,85061.021277,6105.638298,393767.914894,44197.489362,18329.106383,5.167348e+05,25648.851064,33203.425532,...,13460.638298,4162.978723,53996.723404,36293.787234,2691.684211,23548.297872,1319.340426,4.708018e+05,51989.829787,-159127.957447
std,13.711309,2620.543380,40356.315781,4496.623441,191794.382442,28676.336123,9429.733970,4.190673e+05,22503.573146,12863.835696,...,4967.533157,2537.954752,30373.379188,19807.124887,2403.330157,15237.272883,1399.118640,3.177255e+05,42788.174915,87143.601591
min,1976.000000,2177.000000,20690.000000,1732.000000,95503.000000,9314.000000,4970.000000,4.036800e+04,2423.000000,14347.000000,...,3552.000000,717.000000,8870.000000,7390.000000,-3.000000,8692.000000,-734.000000,7.401900e+04,5991.000000,-277791.000000
25%,1987.500000,3220.500000,57767.000000,2629.000000,258025.500000,19786.500000,12188.500000,1.379195e+05,6039.500000,22626.500000,...,9992.000000,1670.000000,28731.500000,18577.500000,924.500000,13658.500000,566.000000,2.098730e+05,18479.000000,-240941.500000
50%,1999.000000,4145.000000,69831.000000,5431.000000,290785.000000,33643.000000,17197.000000,3.649730e+05,13189.000000,34220.000000,...,14310.000000,3702.000000,48710.000000,32079.000000,2247.000000,17855.000000,838.000000,3.802670e+05,39797.000000,-161034.000000
75%,2010.500000,5197.500000,127741.500000,8003.500000,595719.000000,63379.500000,22411.000000,8.738940e+05,45667.000000,39805.000000,...,17708.500000,6755.000000,76937.000000,56134.000000,3707.250000,29200.500000,1690.000000,6.460200e+05,81075.500000,-75525.500000
max,2022.000000,16587.000000,168801.000000,25713.000000,695646.000000,131891.000000,68557.000000,1.457442e+06,100689.000000,68969.000000,...,19309.000000,9579.000000,113839.000000,81067.000000,9677.000000,83643.000000,6472.000000,1.232366e+06,188759.000000,-22186.000000

bu yerda ko'rishimiz mumkin: count - qatorlar soni, mean - ustunlardagi qiymatlarning o'rta arifmetigi, std - o'rtacha og'ishi, min - minimal, max - maksimal, 25%, 50%, 75% - kvartillar, bu yerda 50% - mediana deb ham ataladi

In [15]:
df.values

array([[   1976.,    2177.,   20690., ...,   74019.,    6044.,  -22186.],
       [   1977.,    2479.,   21841., ...,   84909.,    6612.,  -23018.],
       [   1978.,    2781.,   26659., ...,   93712.,    5991.,  -24250.],
       ...,
       [   2020.,    4792.,  129518., ..., 1099003.,  109706., -238504.],
       [   2021.,    4915.,  127657., ..., 1162456.,  115861., -240521.],
       [   2022.,    4918.,  126499., ..., 1232366.,  126744., -243515.]])

In [16]:
df[["Year", "Corps of Engineers"]].sort_values("Corps of Engineers").head(10)

    Year  Corps of Engineers
0   1976                2177
1   1977                2479
8   1984                2674
10  1986                2722
3   1979                2780
2   1978                2781
9   1985                2883
6   1982                2988
5   1981                3089
11  1987                3121

Corps of Engineers(Muhandislar korpusi) bo'yicha sort qildik va birinchi 10 tasini yilini va "Corps of Engineers"ga sarflangan mablag'larni chiqardik.

In [17]:
df[["Year", "Corps of Engineers"]].sort_values("Corps of Engineers", ascending = False).head(10)

    Year  Corps of Engineers
33  2009               16587
30  2006               11944
37  2013                9716
32  2008                9093
31  2007                7046
41  2017                6907
36  2012                6763
40  2016                6042
34  2010                5665
38  2014                5612

In [18]:
df[["Year","Department of Agriculture","Department of Defense"]].sort_values(["Department of Agriculture","Department of Defense"]).head(10)

    Year  Department of Agriculture  Department of Defense
0   1976                      20690                  95503
1   1977                      21841                 107906
2   1978                      26659                 114531
3   1979                      37250                 123595
4   1980                      39559                 140651
8   1984                      46734                 258108
5   1981                      47410                 176100
11  1987                      52421                 279417
12  1988                      55134                 283710
14  1990                      55214                 292936

In [19]:
df[df["Year"] > 2010]

,Year,Corps of Engineers,Department of Agriculture,Department of Commerce,Department of Defense,Department of Education,Department of Energy,Department of Health and Human Services,Department of Homeland Security,Department of Housing and Urban Development,...,National Aeronautics and Space Administration,National Science Foundation,Office of Personnel Management,Other Defense Civil Programs,Other Independent Agencies (Off-Budget),Other Independent Agencies (On-Budget),Small Business Administration,Social Security Administration (Off-Budget),Social Security Administration (On-Budget),Undistributed Offsetting Receipts
35,2011,4854,140677,5704,691471,43628,22648,889186,41648,48528,...,18432,6910,79435,51073,996.0,19760,5454,629821,154714,-276478
36,2012,6763,151789,7978,655397,57458,22721,874458,45911,40115,...,17773,7159,83630,81067,2255.0,23324,2724,637241,188759,-230682
37,2013,9716,154924,7959,585239,39495,21221,873330,61873,68969,...,16868,6997,86973,57553,NaN,25258,952,760588,109001,-249450
38,2014,5612,157510,10113,595723,55200,22174,960955,44146,42676,...,17644,7296,89745,57514,-3.0,26409,139,828419,83745,-246158
39,2015,5477,142471,13817,570861,87258,25393,1045165,45269,44115,...,18009,7485,92356,62584,NaN,29533,-734,861067,89340,-257594
40,2016,6042,168801,10351,595715,76977,27335,1118986,46021,48843,...,19280,7597,93745,60139,264.0,27821,-512,887610,95342,-241362
41,2017,6907,139269,9490,626229,114800,28013,1126687,51026,51544,...,19309,7546,95659,57572,264.0,29529,317,917670,93010,-243336
42,2018,4906,132267,8029,646977,60971,20067,1112443,49386,39715,...,19078,6758,99481,61060,249.0,28492,826,974849,91289,-247944
43,2019,4908,129792,10150,594543,65952,22728,1212309,50886,39739,...,19078,6752,103909,63533,249.0,28353,831,1035504,104031,-234803
44,2020,4792,129518,13568,607132,63758,25327,1289034,51982,39771,...,19078,6754,107323,64809,249.0,29479,831,1099003,109706,-238504
45,2021,4915,127657,8156,619906,63818,24882,1351437,53303,39793,...,19078,6756,110605,66753,249.0,31195,831,1162456,115861,-240521
46,2022,4918,126499,7744,632617,62320,24975,1457442,53702,39817,...,19078,6757,113839,69149,249.0,32903,831,1232366,126744,-243515